*{
  text-align: justify;
  hyphens: auto;
}

body {
  font-family: 'Lato', sans-serif;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.875rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.24rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.96rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff9e00 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff9e00 !important;
  border-color: #ff9e00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a86800 !important;
  border-color: #a86800 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a86800 !important;
  border-color: #a86800 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #121212 !important;
  border-color: #121212 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9e00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a86800 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9e00 !important;
  border-color: #ff9e00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #121212;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #121212 !important;
  border-color: #121212 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff9e00 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #121212 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #995f00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: rgb(255, 158, 0) !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff9e00;
}
.nav-tabs .nav-link:not(.active) {
  color: #121212;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff9e00;
  border-color: #ff9e00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ff9e00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffeccc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff9e00 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ff9e00;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff9e00;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff9e00;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff9e00;
  border-bottom-color: #ff9e00;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ff9e00 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff9e00' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sUZdkRR64K {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sUZdkRR64K nav.navbar {
  position: fixed;
}
.cid-sUZdkRR64K .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sUZdkRR64K .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
/* .cid-sUZdkRR64K .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
} */
.cid-sUZdkRR64K .dropdown-item:hover,
.cid-sUZdkRR64K .dropdown-item:focus {
  background: #ff9e00 !important;
  color: white !important;
}
.cid-sUZdkRR64K .dropdown-item:hover span {
  color: white;
}
.cid-sUZdkRR64K .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sUZdkRR64K .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sUZdkRR64K .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sUZdkRR64K .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sUZdkRR64K .nav-link {
  position: relative;
}
.cid-sUZdkRR64K .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sUZdkRR64K .container {
    flex-wrap: nowrap;
  }
}
.cid-sUZdkRR64K .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sUZdkRR64K .dropdown-menu,
.cid-sUZdkRR64K .navbar.opened {
  background: #121212 !important;
}
.cid-sUZdkRR64K .nav-item:focus,
.cid-sUZdkRR64K .nav-link:focus {
  outline: none;
}
.cid-sUZdkRR64K .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sUZdkRR64K .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sUZdkRR64K .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sUZdkRR64K .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sUZdkRR64K .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sUZdkRR64K .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sUZdkRR64K .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #121212;
}
.cid-sUZdkRR64K .navbar.opened {
  transition: all 0.3s;
}
.cid-sUZdkRR64K .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sUZdkRR64K .navbar .navbar-logo img {
  width: auto;
}
.cid-sUZdkRR64K .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sUZdkRR64K .navbar.collapsed {
  justify-content: center;
}
.cid-sUZdkRR64K .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sUZdkRR64K .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sUZdkRR64K .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sUZdkRR64K .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sUZdkRR64K .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sUZdkRR64K .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sUZdkRR64K .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sUZdkRR64K .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sUZdkRR64K .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sUZdkRR64K .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sUZdkRR64K .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sUZdkRR64K .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sUZdkRR64K .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sUZdkRR64K .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sUZdkRR64K .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sUZdkRR64K .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sUZdkRR64K .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sUZdkRR64K .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sUZdkRR64K .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sUZdkRR64K .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sUZdkRR64K .navbar.navbar-short {
  min-height: 60px;
}
.cid-sUZdkRR64K .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sUZdkRR64K .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sUZdkRR64K .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sUZdkRR64K .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sUZdkRR64K .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sUZdkRR64K .dropdown-item.active,
.cid-sUZdkRR64K .dropdown-item:active {
  background-color: transparent;
}
.cid-sUZdkRR64K .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sUZdkRR64K .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sUZdkRR64K .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sUZdkRR64K .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #121212;
}
.cid-sUZdkRR64K .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sUZdkRR64K .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sUZdkRR64K ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sUZdkRR64K .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sUZdkRR64K button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sUZdkRR64K button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-sUZdkRR64K button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sUZdkRR64K button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sUZdkRR64K button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sUZdkRR64K button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sUZdkRR64K nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sUZdkRR64K nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sUZdkRR64K nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sUZdkRR64K nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sUZdkRR64K .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sUZdkRR64K a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sUZdkRR64K .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sUZdkRR64K .navbar {
    height: 70px;
  }
  .cid-sUZdkRR64K .navbar.opened {
    height: auto;
  }
  .cid-sUZdkRR64K .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sV0QEvMpRx {
  background-image: url("../../../assets/images/apresentacao-1910x1440.jpg");
}
.cid-sV0QEvMpRx .mbr-section-title {
  color: #fafafa;
}
.cid-sV0QEvMpRx .mbr-section-subtitle {
  color: #ff9e00;
}
.cid-sV0QEvMpRx .mbr-text,
.cid-sV0QEvMpRx .mbr-section-btn {
  color: #fafafa;
}
.cid-sV0Re2i8Eg {
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-sV0Re2i8Eg .card-box {
  padding: 2rem;
  width: 58.33%;
}
.cid-sV0Re2i8Eg .img-wrapper {
  width: 41.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sV0Re2i8Eg .img1 {
  background: #121212;
}
.cid-sV0Re2i8Eg .img2 {
  background: #121212;
}
.cid-sV0Re2i8Eg .mbr-iconfont {
  display: block;
  font-size: 8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-sV0Re2i8Eg .card {
  margin: auto;
  min-height: 280px;
  transition: all 0.3s;
}
.cid-sV0Re2i8Eg .card-wrapper {
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-sV0Re2i8Eg .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sV0Re2i8Eg .card-wrapper {
    flex-direction: column;
  }
  .cid-sV0Re2i8Eg .card-box {
    padding: 1rem;
  }
  .cid-sV0Re2i8Eg .card-box,
  .cid-sV0Re2i8Eg .img-wrapper {
    width: 100%;
  }
  .cid-sV0Re2i8Eg .img-wrapper {
    padding: 4rem 1rem;
  }
  .cid-sV0Re2i8Eg .mbr-flex {
    flex-direction: column-reverse;
  }
}
.cid-sV0Re2i8Eg .card-subtitle {
  color: #0077ff;
}
.cid-sV0Re2i8Eg .mbr-text,
.cid-sV0Re2i8Eg .link-wrap {
  color: #555555;
}
.cid-sV0ReIk5vH {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sV0ReIk5vH .card-box {
  padding: 2rem;
  width: 58.33%;
}
.cid-sV0ReIk5vH .img-wrapper {
  width: 41.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sV0ReIk5vH .img1 {
  background: #121212;
}
.cid-sV0ReIk5vH .img2 {
  background: #121212;
}
.cid-sV0ReIk5vH .mbr-iconfont {
  display: block;
  font-size: 8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-sV0ReIk5vH .card {
  margin: auto;
  min-height: 280px;
  transition: all 0.3s;
}
.cid-sV0ReIk5vH .card-wrapper {
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-sV0ReIk5vH .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sV0ReIk5vH .card-wrapper {
    flex-direction: column;
  }
  .cid-sV0ReIk5vH .card-box {
    padding: 1rem;
  }
  .cid-sV0ReIk5vH .card-box,
  .cid-sV0ReIk5vH .img-wrapper {
    width: 100%;
  }
  .cid-sV0ReIk5vH .img-wrapper {
    padding: 4rem 1rem;
  }
  .cid-sV0ReIk5vH .mbr-flex {
    flex-direction: column-reverse;
  }
}
.cid-sV0ReIk5vH .card-subtitle {
  color: #0077ff;
}
.cid-sV0ReIk5vH .mbr-text,
.cid-sV0ReIk5vH .link-wrap {
  color: #555555;
}
.cid-sUZNNj1wBv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #121212;
}
.cid-sUZNNj1wBv .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-sUZNNj1wBv .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sUZNNj1wBv .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sUZNNj1wBv .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sUZNNj1wBv .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sUZNNj1wBv .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sUZNNj1wBv .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sUZNNj1wBv .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sUZNNj1wBv .card-title {
  color: #121212;
  text-align: justify;
}
.cid-sUZNNj1wBv .mbr-text,
.cid-sUZNNj1wBv .mbr-section-btn {
  color: #121212;
  text-align: justify;
}
.cid-sUZYuVzSam {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_atc.png");
}
.cid-sUZYuVzSam .mbr-section-title {
  color: #ffffff;
}
.cid-sV0S2YDjBX {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV0HxEBAXW {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sV0HxEBAXW img,
.cid-sV0HxEBAXW .item-img {
  width: 100%;
}
.cid-sV0HxEBAXW .item:focus,
.cid-sV0HxEBAXW span:focus {
  outline: none;
}
.cid-sV0HxEBAXW .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0HxEBAXW .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0HxEBAXW .item {
  padding: 0;
  margin: 0;
}
.cid-sV0HxEBAXW .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0HxEBAXW .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0HxEBAXW .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0HxEBAXW .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0HxEBAXW .mbr-section-title {
  color: #121212;
}
.cid-sV0JZPjCBA {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sV0JZPjCBA img,
.cid-sV0JZPjCBA .item-img {
  width: 100%;
}
.cid-sV0JZPjCBA .item:focus,
.cid-sV0JZPjCBA span:focus {
  outline: none;
}
.cid-sV0JZPjCBA .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0JZPjCBA .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0JZPjCBA .item {
  padding: 0;
  margin: 0;
}
.cid-sV0JZPjCBA .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0JZPjCBA .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0JZPjCBA .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0JZPjCBA .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0JZPjCBA .mbr-section-title {
  color: #121212;
}
.cid-sV0L263w7U {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sV0L263w7U img,
.cid-sV0L263w7U .item-img {
  width: 100%;
}
.cid-sV0L263w7U .item:focus,
.cid-sV0L263w7U span:focus {
  outline: none;
}
.cid-sV0L263w7U .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0L263w7U .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0L263w7U .item {
  padding: 0;
  margin: 0;
}
.cid-sV0L263w7U .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0L263w7U .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0L263w7U .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0L263w7U .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0L263w7U .mbr-section-title {
  color: #121212;
}
.cid-sV0OHlIkwS {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sV0OHlIkwS img,
.cid-sV0OHlIkwS .item-img {
  width: 100%;
}
.cid-sV0OHlIkwS .item:focus,
.cid-sV0OHlIkwS span:focus {
  outline: none;
}
.cid-sV0OHlIkwS .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0OHlIkwS .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0OHlIkwS .item {
  padding: 0;
  margin: 0;
}
.cid-sV0OHlIkwS .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0OHlIkwS .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0OHlIkwS .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0OHlIkwS .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0OHlIkwS .mbr-section-title {
  color: #121212;
}
.cid-sV00fKpqIm {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_salvare.png");
}
.cid-sV00fKpqIm .mbr-section-title {
  color: #ffffff;
}
.cid-sV0TnKuXEH {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV0ToB82wH {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sV0ToB82wH img,
.cid-sV0ToB82wH .item-img {
  width: 100%;
}
.cid-sV0ToB82wH .item:focus,
.cid-sV0ToB82wH span:focus {
  outline: none;
}
.cid-sV0ToB82wH .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0ToB82wH .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0ToB82wH .item {
  padding: 0;
  margin: 0;
}
.cid-sV0ToB82wH .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0ToB82wH .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0ToB82wH .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0ToB82wH .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0ToB82wH .mbr-section-title {
  color: #121212;
}
.cid-sV0TqhqKHA {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sV0TqhqKHA img,
.cid-sV0TqhqKHA .item-img {
  width: 100%;
}
.cid-sV0TqhqKHA .item:focus,
.cid-sV0TqhqKHA span:focus {
  outline: none;
}
.cid-sV0TqhqKHA .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0TqhqKHA .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0TqhqKHA .item {
  padding: 0;
  margin: 0;
}
.cid-sV0TqhqKHA .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0TqhqKHA .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0TqhqKHA .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0TqhqKHA .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0TqhqKHA .mbr-section-title {
  color: #121212;
}
.cid-sV0Tr9GQhC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sV0Tr9GQhC img,
.cid-sV0Tr9GQhC .item-img {
  width: 100%;
}
.cid-sV0Tr9GQhC .item:focus,
.cid-sV0Tr9GQhC span:focus {
  outline: none;
}
.cid-sV0Tr9GQhC .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0Tr9GQhC .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0Tr9GQhC .item {
  padding: 0;
  margin: 0;
}
.cid-sV0Tr9GQhC .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0Tr9GQhC .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0Tr9GQhC .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0Tr9GQhC .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0Tr9GQhC .mbr-section-title {
  color: #121212;
}
.cid-sV0TrWZVyL {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sV0TrWZVyL img,
.cid-sV0TrWZVyL .item-img {
  width: 100%;
}
.cid-sV0TrWZVyL .item:focus,
.cid-sV0TrWZVyL span:focus {
  outline: none;
}
.cid-sV0TrWZVyL .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0TrWZVyL .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0TrWZVyL .item {
  padding: 0;
  margin: 0;
}
.cid-sV0TrWZVyL .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0TrWZVyL .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0TrWZVyL .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0TrWZVyL .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0TrWZVyL .mbr-section-title {
  color: #121212;
}
.cid-sV00T2mYUS {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_mont.png");
}
.cid-sV00T2mYUS .mbr-section-title {
  color: #ffffff;
}
.cid-sV0Z2exXaY {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV0Z8phdnB {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sV0Z8phdnB img,
.cid-sV0Z8phdnB .item-img {
  width: 100%;
}
.cid-sV0Z8phdnB .item:focus,
.cid-sV0Z8phdnB span:focus {
  outline: none;
}
.cid-sV0Z8phdnB .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0Z8phdnB .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0Z8phdnB .item {
  padding: 0;
  margin: 0;
}
.cid-sV0Z8phdnB .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0Z8phdnB .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0Z8phdnB .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0Z8phdnB .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0Z8phdnB .mbr-section-title {
  color: #121212;
}
.cid-sV0Z5omwdb {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sV0Z5omwdb img,
.cid-sV0Z5omwdb .item-img {
  width: 100%;
}
.cid-sV0Z5omwdb .item:focus,
.cid-sV0Z5omwdb span:focus {
  outline: none;
}
.cid-sV0Z5omwdb .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV0Z5omwdb .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV0Z5omwdb .item {
  padding: 0;
  margin: 0;
}
.cid-sV0Z5omwdb .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV0Z5omwdb .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV0Z5omwdb .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV0Z5omwdb .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV0Z5omwdb .mbr-section-title {
  color: #121212;
}
.cid-sV00TGI7SB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_casabatalha.png");
}
.cid-sV00TGI7SB .mbr-section-title {
  color: #ffffff;
}
.cid-sV11OB3K7l {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV11PfWpT8 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sV11PfWpT8 img,
.cid-sV11PfWpT8 .item-img {
  width: 100%;
}
.cid-sV11PfWpT8 .item:focus,
.cid-sV11PfWpT8 span:focus {
  outline: none;
}
.cid-sV11PfWpT8 .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV11PfWpT8 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV11PfWpT8 .item {
  padding: 0;
  margin: 0;
}
.cid-sV11PfWpT8 .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV11PfWpT8 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV11PfWpT8 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV11PfWpT8 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV11PfWpT8 .mbr-section-title {
  color: #121212;
}
.cid-sV11PT2VmZ {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sV11PT2VmZ img,
.cid-sV11PT2VmZ .item-img {
  width: 100%;
}
.cid-sV11PT2VmZ .item:focus,
.cid-sV11PT2VmZ span:focus {
  outline: none;
}
.cid-sV11PT2VmZ .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV11PT2VmZ .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV11PT2VmZ .item {
  padding: 0;
  margin: 0;
}
.cid-sV11PT2VmZ .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV11PT2VmZ .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV11PT2VmZ .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV11PT2VmZ .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV11PT2VmZ .mbr-section-title {
  color: #121212;
}
.cid-sV00UfpOOh {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_ligai-1920x1080.png");
}
.cid-sV00UfpOOh .mbr-section-title {
  color: #ffffff;
}
.cid-sV13M2ANU3 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV13N48yLf {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sV13N48yLf img,
.cid-sV13N48yLf .item-img {
  width: 100%;
}
.cid-sV13N48yLf .item:focus,
.cid-sV13N48yLf span:focus {
  outline: none;
}
.cid-sV13N48yLf .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV13N48yLf .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV13N48yLf .item {
  padding: 0;
  margin: 0;
}
.cid-sV13N48yLf .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV13N48yLf .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV13N48yLf .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV13N48yLf .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV13N48yLf .mbr-section-title {
  color: #121212;
}
.cid-sV13O7iPU4 {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sV13O7iPU4 img,
.cid-sV13O7iPU4 .item-img {
  width: 100%;
}
.cid-sV13O7iPU4 .item:focus,
.cid-sV13O7iPU4 span:focus {
  outline: none;
}
.cid-sV13O7iPU4 .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV13O7iPU4 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV13O7iPU4 .item {
  padding: 0;
  margin: 0;
}
.cid-sV13O7iPU4 .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV13O7iPU4 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV13O7iPU4 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV13O7iPU4 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV13O7iPU4 .mbr-section-title {
  color: #121212;
}
.cid-sV00UQ0tKs {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_maniadascoisas.png");
}
.cid-sV00UQ0tKs .mbr-section-title {
  color: #ffffff;
}
.cid-sV15h62yk6 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV15hOnlHr {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sV15hOnlHr img,
.cid-sV15hOnlHr .item-img {
  width: 100%;
}
.cid-sV15hOnlHr .item:focus,
.cid-sV15hOnlHr span:focus {
  outline: none;
}
.cid-sV15hOnlHr .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV15hOnlHr .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV15hOnlHr .item {
  padding: 0;
  margin: 0;
}
.cid-sV15hOnlHr .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV15hOnlHr .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV15hOnlHr .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV15hOnlHr .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV15hOnlHr .mbr-section-title {
  color: #121212;
}
.cid-sV15iLB78h {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sV15iLB78h img,
.cid-sV15iLB78h .item-img {
  width: 100%;
}
.cid-sV15iLB78h .item:focus,
.cid-sV15iLB78h span:focus {
  outline: none;
}
.cid-sV15iLB78h .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV15iLB78h .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV15iLB78h .item {
  padding: 0;
  margin: 0;
}
.cid-sV15iLB78h .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV15iLB78h .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV15iLB78h .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV15iLB78h .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV15iLB78h .mbr-section-title {
  color: #121212;
}
.cid-sV00Vpx4ec {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_joelrocha.png");
}
.cid-sV00Vpx4ec .mbr-section-title {
  color: #ffffff;
}
.cid-sV17x8ED3t {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV17xO9uEi {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sV17xO9uEi img,
.cid-sV17xO9uEi .item-img {
  width: 100%;
}
.cid-sV17xO9uEi .item:focus,
.cid-sV17xO9uEi span:focus {
  outline: none;
}
.cid-sV17xO9uEi .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV17xO9uEi .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV17xO9uEi .item {
  padding: 0;
  margin: 0;
}
.cid-sV17xO9uEi .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV17xO9uEi .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV17xO9uEi .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV17xO9uEi .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV17xO9uEi .mbr-section-title {
  color: #121212;
}
.cid-sV17yHeFv8 {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sV17yHeFv8 img,
.cid-sV17yHeFv8 .item-img {
  width: 100%;
}
.cid-sV17yHeFv8 .item:focus,
.cid-sV17yHeFv8 span:focus {
  outline: none;
}
.cid-sV17yHeFv8 .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV17yHeFv8 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV17yHeFv8 .item {
  padding: 0;
  margin: 0;
}
.cid-sV17yHeFv8 .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV17yHeFv8 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV17yHeFv8 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV17yHeFv8 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV17yHeFv8 .mbr-section-title {
  color: #121212;
}
.cid-sV0iirs34Q {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_sida-2000x1091.png");
}
.cid-sV0iirs34Q .mbr-section-title {
  color: #ffffff;
}
.cid-sV19HDfMDE {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV19MskmRv {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sV19MskmRv img,
.cid-sV19MskmRv .item-img {
  width: 100%;
}
.cid-sV19MskmRv .item:focus,
.cid-sV19MskmRv span:focus {
  outline: none;
}
.cid-sV19MskmRv .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV19MskmRv .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV19MskmRv .item {
  padding: 0;
  margin: 0;
}
.cid-sV19MskmRv .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV19MskmRv .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV19MskmRv .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV19MskmRv .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV19MskmRv .mbr-section-title {
  color: #121212;
}
.cid-sV0ij3FGHA {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_autorepresentativo-2000x1091.png");
}
.cid-sV0ij3FGHA .mbr-section-title {
  color: #ffffff;
}
.cid-sV1bbv9a8S {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV1bcjWa1J {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sV1bcjWa1J img,
.cid-sV1bcjWa1J .item-img {
  width: 100%;
}
.cid-sV1bcjWa1J .item:focus,
.cid-sV1bcjWa1J span:focus {
  outline: none;
}
.cid-sV1bcjWa1J .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV1bcjWa1J .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV1bcjWa1J .item {
  padding: 0;
  margin: 0;
}
.cid-sV1bcjWa1J .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV1bcjWa1J .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV1bcjWa1J .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV1bcjWa1J .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV1bcjWa1J .mbr-section-title {
  color: #121212;
}
.cid-sV0ijG9H1M {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_machado-2000x1091.png");
}
.cid-sV0ijG9H1M .mbr-section-title {
  color: #ffffff;
}
.cid-sV1bUF4Xsm {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV1bVn3yP1 {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sV1bVn3yP1 img,
.cid-sV1bVn3yP1 .item-img {
  width: 100%;
}
.cid-sV1bVn3yP1 .item:focus,
.cid-sV1bVn3yP1 span:focus {
  outline: none;
}
.cid-sV1bVn3yP1 .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV1bVn3yP1 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV1bVn3yP1 .item {
  padding: 0;
  margin: 0;
}
.cid-sV1bVn3yP1 .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV1bVn3yP1 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV1bVn3yP1 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV1bVn3yP1 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV1bVn3yP1 .mbr-section-title {
  color: #121212;
}
.cid-sV0lr15g45 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_design-2000x1091.png");
}
.cid-sV0lr15g45 .mbr-section-title {
  color: #ffffff;
}
.cid-sV1dr9jUX6 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV1jxIinav {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sV1jxIinav img,
.cid-sV1jxIinav .item-img {
  width: 100%;
}
.cid-sV1jxIinav .item:focus,
.cid-sV1jxIinav span:focus {
  outline: none;
}
.cid-sV1jxIinav .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV1jxIinav .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV1jxIinav .item {
  padding: 0;
  margin: 0;
}
.cid-sV1jxIinav .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV1jxIinav .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV1jxIinav .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV1jxIinav .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV1jxIinav .mbr-section-title {
  color: #121212;
}
.cid-sV0ikdLvQ4 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_cas-2000x1091.png");
}
.cid-sV0ikdLvQ4 .mbr-section-title {
  color: #ffffff;
}
.cid-sV1drEYrpu {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV1e2oIBuT {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sV1e2oIBuT img,
.cid-sV1e2oIBuT .item-img {
  width: 100%;
}
.cid-sV1e2oIBuT .item:focus,
.cid-sV1e2oIBuT span:focus {
  outline: none;
}
.cid-sV1e2oIBuT .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV1e2oIBuT .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV1e2oIBuT .item {
  padding: 0;
  margin: 0;
}
.cid-sV1e2oIBuT .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV1e2oIBuT .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV1e2oIBuT .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV1e2oIBuT .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV1e2oIBuT .mbr-section-title {
  color: #121212;
}
.cid-sV0ikLo2el {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_flyermontserrat.png");
}
.cid-sV0ikLo2el .mbr-section-title {
  color: #ffffff;
}
.cid-sV1dse0hv8 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV1fWxgrcO {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sV1fWxgrcO img,
.cid-sV1fWxgrcO .item-img {
  width: 100%;
}
.cid-sV1fWxgrcO .item:focus,
.cid-sV1fWxgrcO span:focus {
  outline: none;
}
.cid-sV1fWxgrcO .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV1fWxgrcO .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV1fWxgrcO .item {
  padding: 0;
  margin: 0;
}
.cid-sV1fWxgrcO .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV1fWxgrcO .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV1fWxgrcO .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV1fWxgrcO .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV1fWxgrcO .mbr-section-title {
  color: #121212;
}
.cid-sV0ilj1PKm {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parallax_hazul-2000x1091.png");
}
.cid-sV0ilj1PKm .mbr-section-title {
  color: #ffffff;
}
.cid-sV1dsNk3m9 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sV1eC4TOQb {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sV1eC4TOQb img,
.cid-sV1eC4TOQb .item-img {
  width: 100%;
}
.cid-sV1eC4TOQb .item:focus,
.cid-sV1eC4TOQb span:focus {
  outline: none;
}
.cid-sV1eC4TOQb .item {

  margin-bottom: 2rem;
  position: relative;
}
.cid-sV1eC4TOQb .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sV1eC4TOQb .item {
  padding: 0;
  margin: 0;
}
.cid-sV1eC4TOQb .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sV1eC4TOQb .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sV1eC4TOQb .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sV1eC4TOQb .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sV1eC4TOQb .mbr-section-title {
  color: #121212;
}
.cid-sUZU3839bT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sUZU3839bT .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sUZU3839bT form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-sUZU3839bT form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-sUZU3839bT form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-sUZVXI38XA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #121212;
  overflow: hidden;
}
.cid-sUZVXI38XA .media-container-row .mbr-text {
  text-align: center;
}
